.App {
   margin-top: 10rem;
   margin-bottom: 5rem;
   width: 500px;
   background-color: rgb(253, 206, 214);
   box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
   border-radius: 15px;
}

@media(max-width: 560px){
   .App{
      max-width: 320px;
   }
}